body
{

background-size:cover;
background-position-y:1270px;

}
header
{
    background:rgba(255,255,255,0.6);
}
h1
{
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px;
    
}
h3
{
    text-align:left;
    font-style: normal;
    font-weight: 100;
    text-align-last: left;
}
#p1
{
    padding: 50px 50px;
  border: 2px solid #162b78;
  background-position: left;
}

    #about{
  border: 3px dotted;
border-color: rgb(0, 0, 0);

}
.topnav {
    background-color:black;
    overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(105, 118, 160);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:rgb(105, 118, 160);
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}